.home-page {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;

    .tool {
      height: 300px;

      .name {
        margin: 8px 0;
      }
    }

    .search-wrapper {
      width: 100%;
      padding: 0 16px;

      .search {
        margin-top: 64px;
        font-size: 1.5rem;
        height: 1.5 * $input-height;
        padding: 0 8px;
        width: 100%;
      }
    }

    .results {
      display: flex;
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: center;

      .result {
        background-color: gray;
        margin: 8px;
        padding: 8px;
        border-radius: $border-radius;

        @include clickable(gray, dimgray);
      }
    }
  }
}
