.layout {
  .top-bar {
    background-color: $top-bar-color;
    height: $top-bar-height;
    display: flex;
    align-items: center;

    @include small-screen {
      margin-bottom: 40px;
    }

    .title {
      font-size: 36px;
      margin-left: 16px;
      color: $top-bar-text-color;
    }
  }
}
