.layout {
  .top-bar {
    background-color: $top-bar-color;
    color: $top-bar-text-color;
    height: $top-bar-height;
    display: flex;
    align-items: center;

    .title {
      font-size: 36px;
      margin-left: 16px;
    }
  }
}
