.tool {
  width: 100%;

  .panels {
    display: flex;
    height: 100%;

    > * {
      flex: 1 1 auto;
      height: 100%;

      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }

  .converter {
    display: flex;
    align-items: center;

    .input {
      width: 200px;
      margin-right: 16px;
    }

    .unit {
      width: 200px;
    }

    .icon {
      margin: 0 16px;
    }

    .output {
      width: 200px;
    }
  }
}
