.tool {
  width: 100%;

  .panels {
    display: flex;
    height: 100%;

    @include small-screen {
      flex-direction: column;
    }

    > * {
      flex: 1 1 auto;
      height: 100%;

      &:not(:last-child) {
        margin-right: 16px;

        @include small-screen {
          margin-right: initial;
          margin-bottom: 16px;
        }
      }
    }
  }

  .converter {
    display: flex;
    align-items: center;

    > *:not(:last-child) {
      margin-right: 16px;
    }

    .input {
      width: 200px;
    }

    .small-screen {
      display: none;
    }

    @include small-screen {
      flex-direction: column;

      > *,
      > .input,
      > .icon {
        margin: 8px 0;
      }

      .small-screen {
        display: initial;
      }

      .big-screen {
        display: none;
      }
    }
  }
}
